/*

    COLORS

    Pink   : #ffdddd
    Purple : #ddddff
    Green  : #ddffdd
    Blue   : #ddffff
    Yellow : #ffffdd

    BREAKPOINTS

    600px
    1100px

*/

body{
    font-family: Palatino, Times, serif;
    background-color: #ddffdd;
    margin: 20px;
    font-size: 14px;
    line-height: 1.3;
}

ul{
    padding-left: 20px;
    margin-top: 0;
}

h1, h2, h3{
    color: #009999;
}

h2, h3{
    margin-bottom: 0;
}

a{
    font-weight: bold;
    color: red;
    text-decoration: none;
}

a:hover{
    color: blue;
}

header{
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddddff;
}

#site_container{
    padding: 20px;
    max-width: 1100px;
    margin: 0 auto;
    background: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 5px;
}

#logo {
  text-align:center;
}

#main_nav{
    text-align: center;
}

#main_nav a{
    display: block;
    padding: 10px 2%;
    background: #ffdddd;
    margin-bottom: 5px;
    border-radius: 5px;
}

#main_nav a:hover{
    background: #ddddff;
}

#main_content {
  background-color: #ddffff;
  padding: 3% 6% 3% 6%;
  margin-bottom: 4%;
  border-radius: 5px;
}

#sidebar_content {
  display: block;
}

#sidebar_content div {
  margin-bottom: 5%;
  padding: 3% 0% 4% 6%;
  margin-bottom:7%;
  background-color: #ffffdd;


}

#site_footer {
background-color: #fedcad;
padding: 5% 0% 5% 0%;
text-align: center;

}

#site_footer a {
  padding: 5%;
}

@media (min-width: 600px) {
  body {
    background-color: black;
    font-size: 16px;
    line-height: 1.6;
  }

  header {
      border-bottom: 2.7px solid #ddddff;


}

#site_container{
    padding: 8px;
    margin: 0px 20px 0px 20px;


  }


  #main_nav {
    display: flex;
    margin: 0px 15px 0px 15px;


  }

  #main_nav a{
      flex: 1;
      text-align: center;
      margin: 8px;
      padding: 15px;


}

#main_content {
  background-color: #ddffff;
  padding: 3% 3% 3% 3%;
  margin: 0px 15px 20px 15px;

}

#sidebar_content {
  display: flex;
  margin: 0% 2% 2% 2%;
}

#sidebar_content div {
  padding: 2%;
  margin: 0;
  flex: 25%;

}

#site_footer {
padding: 18px 0px 18px 0px;
margin: 0% 2% 0% 2%;

}

#site_footer a {
  padding: 10px;
}



}

@media (min-width: 1100px) {

  body {
    display: flex;
    background-color: red;
    font-size: 19px;
    line-height: 1.8;
  }

  #site_container {
    max-width: 1400px;

  }



  #logo {
    float: left;
    padding-left: 14px;


  }

  #main_nav {
    margin-left: 450px;
    margin-top: 30px;



  }

  #main_content {
    display: flex;
    padding: 0px 0px 0px 0px;
    flex-direction: column;

  }

  #main_content h1 {
    width: 45%;
    border: solid black medium;
    margin-right: 0;
    padding-right: 0px;
  }

  #main_content p {
    width: 50%;
    border: solid black medium;
    padding-right: 0px;

  }

  #main_content h2 {
    width: 50%;
    border: solid black medium;

  }

  #main_content ul {
  width: 50%;
  border: solid black medium;

  }























}
